</main>

<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © <%= currentYear %></p>
</footer>
</body>

</html>